/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Jan-2015, 13:22:14
    Author     : Manika
*/
body{ margin: 0 auto;
      width: 75%;
    background-color:lightgrey;
}
h1{
    font-family: "arial";
    color: royalblue;
}
h2{
    font-family: "calibri";
}
.error{
    color:red;
    font-family:'calibri';
    font-size:15px;
}
#details{
    font-family:'calibri';
    font-size:20px;
}

